.input {
  @apply w-full px-4 py-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-green-400 focus:text-black active:text-black;
}

div{
  color: black;
}

.Form-screen {
  /* background-image: url("../../public/FormBG.jpg");
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: rgb(74, 2, 100);
}

.Form-screen Form {
  /* background-image: url("../../public/FormBG.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top; */
  background-color: rgb(255, 255, 255, 0.7);
  scrollbar-width: none;
}
